/* RESET DASAR */
* {
    margin: 10px 10px 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f4f6f9;
    padding: 20px;
    background: red;
}

/* JUDUL */
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
     background: red;
    color: red;
}

/* CONTAINER */
.container {
    max-width: 1000px;
    margin: auto;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    margin-bottom: 20px;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #2196f3;
    color: white;
}

/* FORM */
form {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* BUTTON */
button,
input[type="submit"] {
    background: #2196f3;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
    background: #1976d2;
}

/* LINK AKSI */
a {
    text-decoration: none;
    color: #2196f3;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
